@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
margin: 0;
font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
align-items: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
height: 100vh;
justify-content: center;
width: 100vw;
}

#overlay {
background-color: #000;
display: inline-block;
height: 100%;
opacity: 0.5;
position: absolute;
width: 100%;
}

#content {
color: white;
font-size: 3em;
position: absolute;
text-align: center;
}

#content ul {
list-style-type: none;
}

#content ul li {
display: inline;
font-size: 0.5em;
}

#content ul li a {
color: white;
text-decoration: none;
}

#me {
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

/*
// Initial css :O
// wtf ??
body {
background: ;
}
#content {
width: 15%;
margin: auto;
padding-top: 20%;
}
*/